<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.leofarage.clk.challenge"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.leofarage.ckl.challenge.activities.ArticleListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.leofarage.ckl.challenge.activities.ArticleDetailActivity"
            android:label="@string/title_article_detail"
            android:parentActivityName="br.com.leofarage.ckl.challenge.activities.ArticleListActivityistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.leofarage.clk.challenge.activities.ArticleListActivity" />
        </activity>
    </application>

</manifest>
